/* Style Page for My Personal Website */
/* Author: Jessie Stalter */
/* Created: 08/03/2022 */

@font-face {
    font-family: 'Merriweather';
    src: url(https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
}

/* Fade In Style */

.js body { display: none; }

/* Header Styles */

#mainHeader {
    display: flex;
    height: 75px;
    min-width: 100vw;
    margin-left: -8px;
}

#mainHeader ul {
    list-style: none;
    flex: 50%;
    display: flex;
    margin: auto;
}

#myLogo {
    height: 50px;
}

#headerNavLinks li {
    padding: 6px;
}

#headerNavLinks a {
    text-decoration: none;
    color: #000000;
}

/* #headerNavLinks a:hover {
    text-decoration: underline;
} */

#headerSocialLinks {
    justify-content: right;
    padding-inline-start: 0;
    padding-right: 40px;
}

#headerSocialLinks li {
    padding: 6px;
}

#linkedInImg, #githubImg {
    height: 25px;
}

#resumeImg {
    height: 28px;
}

/* Landing Page Styles */
#landingSection {
    display: flex;
}

#landingText {
    flex: 50%;
    height: 100%;
    margin-left: 4%;
    margin-top: 135px;
    font-family: 'Merriweather', serif;
}

#landingText h1 {
    font-size: 74px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#landingText span {
    color: #FF0000;
}

#landingText h2 {
    font-size: 28px;
    margin-bottom: 0px;
}

#landingText p {
    margin-top: 10px;
    width: 95%;
}

#landingGraphic {
    flex: 50%;
    background-color: #0000FF;
    margin: 15px 30px;
    border-radius: 20px;
    opacity: 80%;
    height: 80vh;
}

#infoSection {
    display: grid;
    row-gap: 10px;
}

#aboutSection, #educationSection, #interestsSection {
    display: flex;
}

#aboutGraphic, #educationGraphic, #interestsGraphic {
    flex: 33%;
    /* width: calc(50% - 2em); */
    /* margin: 0 8%; */
    border-radius: 20px;
    height: 250px;
    opacity: 80%;
}

#aboutGraphic {
    background-color: yellow;
}

#educationGraphic {
    background-color: blue;
}

#interestsGraphic {
    background-color: red;
}

/* #educationGraphic {
    flex: 33%;
    margin: 0 5%;
    background-color: black;
} */